
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-body), sans-serif;
}

@layer base {
  :root {
    --background: 240 15% 94%;
    --foreground: 240 10% 3.9%;
    --card: 240 15% 99%;
    --card-foreground: 240 10% 3.9%;
    --popover: 240 15% 99%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 261 13% 65%;
    --primary-foreground: 260 85% 98%;
    --secondary: 240 5% 90%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 5% 90%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 211 98% 73%;
    --accent-foreground: 210 40% 12%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 6% 88%;
    --input: 240 6% 88%;
    --ring: 261 13% 65%;
    --radius: 0.75rem;

    --sidebar-background: 240 10% 91%;
    --sidebar-foreground: 240 10% 3.9%;
    --sidebar-primary: 261 13% 65%;
    --sidebar-primary-foreground: 260 85% 98%;
    --sidebar-accent: 240 15% 97%;
    --sidebar-accent-foreground: 240 10% 3.9%;
    --sidebar-border: 240 6% 85%;
    --sidebar-ring: 211 98% 73%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 5.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 261 13% 75%;
    --primary-foreground: 260 85% 10%;
    --secondary: 240 5% 15%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 5% 15%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 211 98% 63%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5% 15%;
    --input: 240 5% 15%;
    --ring: 211 98% 63%;
    
    --sidebar-background: 240 10% 5.9%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 261 13% 75%;
    --sidebar-primary-foreground: 260 85% 10%;
    --sidebar-accent: 240 10% 12%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 240 5% 15%;
    --sidebar-ring: 211 98% 63%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
